.footer-container {
  background-color: rgba(240, 240, 240, 0.37);
  width: 100%;
  height: 38rem;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.quote-container {
  margin-left: 44rem;
}
.footer-container p {
  text-align: center;
  margin-bottom: 2rem;
  /* font-size: 2rem; */
}
.quote {
  font-size: 2rem;
}
.copyright {
  font-size: 1.5rem;
}
.illustration {
  width: 34rem;
  /* position: absolute; */
  /* right: 14rem;
  bottom: -10rem; */
  /* bottom: -30rem; */
  /* bottom: 20rem; */
}
.ill-container {
  margin-left: 4rem;
}

.footer-container hr {
  width: 18rem;
  color: #22e3e5;
  background-color: #22e3e5;
  height: 2px;
  border: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
}
