/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .about-container .details {
    margin-left: 10rem;
  }
  .box-container.grid {
    grid-template-columns: 1fr 1fr;
    max-width: 110rem;
  }
  .box-container .box {
    width: 37rem;
  }
  .bg-projects .projects-title {
    padding-top: 12rem;
    padding-bottom: 12rem;
    margin: 0;
    /* padding-bottom: 12rem; */
  }
  .projects-container.grid {
    grid-template-columns: 1fr 1fr;
  }
  .bg-projects .projects-container {
    max-width: 84rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 990px) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .navigation {
    display: none;
  }

  .links {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.705);
    padding: 0;
    margin: 0;
    gap: 6rem;
    z-index: 99;
    backdrop-filter: blur(10px);
  }

  .mobile-navigation {
    display: flex;
    align-items: center;
    height: 8rem;
    background-color: rgb(243, 244, 245);
  }
  .mobile-navigation .logo h1 {
    margin-left: 10rem;
  }

  .mobile-navigation .hamburger {
    position: absolute;
    right: 10%;
    cursor: pointer;
    z-index: 999;
  }

  .mobile-navigation .links a {
    font-size: 3rem;
  }

  /* .cover-container .text-container {
    margin-left: -10rem;
  } */

  /* ----------about section------------ */

  .positioning-container .details {
    margin-left: 5rem;
  }
  .portrait-container .portrait {
    width: 30rem;
    height: 30rem;
  }
  .positioning-container .aboutme {
    font-size: 4rem;
  }
  .details .aboutme-text {
    width: 54rem;
  }

  /* --------technology section---------- */

  .box-container.grid {
    column-gap: 0;
  }
  .position .box-container.grid {
    max-width: 90rem;
  }

  .position .box-container.grid {
    max-width: 90rem;
  }
  /* --------projects section---------- */

  /* ----------footer section------------ */

  .ill-container .illustration {
    width: 24rem;
    margin-left: -2rem;
  }
  .footer-container .quote-container {
    margin-left: 28rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .logo img {
    margin-left: 10rem;
  }
  .about-container .details {
    margin-left: 10rem;
  }
  .position .box-container.grid {
    max-width: 95rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .links {
    /* width: 30rem; */
    /* position: absolute; */
    /* top: 0; */
    /* flex-direction: column; */
    /* position: absolute;
    top: 0;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 4rem;
    z-index: 999; */
  }

  .logo img {
    margin-left: 8rem;
  }

  .box-container.grid {
    grid-template-columns: 1fr;
    max-width: 110rem;
  }

  .about-container .positioning-container {
    flex-direction: column;
  }
  .positioning-container .portrait-container {
    /* padding-top: 12rem; */
    padding-bottom: 6rem;
  }

  .positioning-container .details {
    margin-left: 0;
    width: auto;
  }
  .position .box-container.grid {
    /* gap: 6rem; */
  }

  .bg-box .tech-title-ill {
    padding-bottom: 8rem;
  }
  /* .bog-box .submarine-container {
    width: 25rem;
    margin-top: 10rem;
  } */

  .bg-box .walkingdog {
    /* margin-left: 8rem; */
  }

  .projects-container.grid {
    grid-template-columns: 1fr;
  }

  .bg-projects .projects-title {
    padding-top: 8rem;
  }
  .bg-projects .project-box {
    width: 38rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/
@media (max-width: 40em) {
  .logo img {
    margin-left: 3.2rem;
  }
  .mobile-navigation .logo h1 {
    margin-left: 4rem;
  }

  .mobile-navigation .hamburger {
    position: absolute;
    right: 7%;
    cursor: pointer;
  }

  /* .cover-container .text-container {
    margin-left: -26rem;
  } */
  .cover-container .text-container h2 {
    font-size: 3.4rem;
    line-height: 3.7rem;
  }
  .text-container {
    /* top: 25rem; */
    /* left: 10%; */
    width: 80%;
  }
  .cover-container {
    display: flex;
    justify-content: center;
  }

  .about-container .details {
    max-width: 36rem;
  }
  .details .aboutme-text {
    width: 37rem;
  }

  .about-container .positioning-container {
    padding-bottom: 4rem;
    padding-top: 8rem;
  }

  .bg-box .tech-title-ill {
    padding-bottom: 8rem;
  }

  .bg-box .position {
    padding: 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-container .quote-container {
    margin-left: 0;
    max-width: 30rem;
    align-self: center;
  }
  .ill-container {
    text-align: center;
    margin-left: 0;
  }

  .bg-projects .project-box {
    width: 34rem;
  }
}
